extends layout 

block content
  title= title 
  if user 
    div Hi #{user.username}
  else 
    div Howdy Stranger

  ul 
    each recipe in recipe_list 
      li 
        a(href=recipe.url) #{recipe.name}, #{recipe.description}, #{recipe.likes}
  

