extends layout 

block content 
  div #{recipe.name} 
  div Made by #{recipe.creator}
  div #{recipe.description} 

  div Ingredients:
  ul
    each ingredient in recipe.ingredients 
      li 
        div #{ingredient}
  
  div Steps:
  ol 
    each step in recipe.steps 
      li 
        div #{step}

  div #{recipe.notes}

  - let isCreator = (JSON.stringify(user._id) === JSON.stringify(recipe.creator))
  if isCreator
    a(href=recipe.url + '/delete') Delete Recipe
    a(href=recipe.url + '/update') Update Recipe